<h1 mat-dialog-title>{{data.Action}} {{data.CompanyKey}}
  <small> 1*{{data.LastTradedPrice}}</small>
</h1>
<div mat-dialog-content>
  <div class="row">
    <div class="col-sm-6">
      <mat-radio-group [(ngModel)]="data.TradeType">
        <mat-radio-button *ngFor="let season of tradeTypes" [value]="season">
          {{season}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="col-sm-6">
      <mat-radio-group [(ngModel)]="data.TradeOption">
        <mat-radio-button *ngFor="let season of tradeOption" [value]="season">
          {{season}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="col-sm-4">
      <mat-form-field class="example-full-width">
        <input type="number" matInput placeholder="Qty" [(ngModel)]="data.Quantity">
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field>
        <input type="number" matInput placeholder="Price" [(ngModel)]="data.LimitPrice">
      </mat-form-field>
    </div>

    <div class="col-sm-4" *ngIf="data.TradeType=='MIS'">
      <mat-form-field>
        <input type="number" matInput placeholder="Target" [(ngModel)]="data.Target">
      </mat-form-field>
    </div>
    <div class="col-sm-4" *ngIf="data.TradeType=='MIS'">
      <mat-form-field>
        <input type="number" matInput placeholder="Stoploss" [(ngModel)]="data.Stoploss">
      </mat-form-field>
    </div>


  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="{{data.action=='Buy'?'primary':'warn'}}" (click)="buyClick()">{{data.Action}}</button>
  <button mat-raised-button (click)="onNoClick()">cancel</button>
</div>