<mat-card class="sideMat">
  <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let item of _myService.Stocks; let i = index"  [shAttachMenu]="menu" [shMenuData]="item" >
      <h4 mat-line (click)="selectSymbol(item)"> {{item.LastTradedPrice}} {{item.CompanyKey}}</h4> <span (click)="remove(i)">X</span>
      <mat-divider></mat-divider>
    </mat-list-item>

  </mat-list>
</mat-card>
<sh-context-menu #menu>

  <ng-template *ngFor="let data of items" let-item shContextMenuItem>
    <div (click)="onClick(data.label,item)">
      {{data.label}}
    </div>
  </ng-template>
</sh-context-menu>